*{box-sizing: border-box}

.radius{
    
    border-bottom-right-radius: 15px;

}
.cube, .cube2{
    margin-left: 12px;
}



body{
    margin: 0px;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
}


.flex-container-search{
display: flex;
justify-content:flex-end;
padding: 10px;
}
.flex-container-search>a{ 
    color: white;
    text-decoration: none;
    padding: 5px;
  
  
}
.flex-container-search>a:hover{
    color: rgb(0, 92, 160);
    text-decoration-line: underline;
}

input[type=search] {
    padding: 0px;
    height: 20px;
    margin-top: 4px;
    border-top-right-radius: 10px;
}

.flex-container{ /*top-menu*/
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
}

.top-menu{  
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}


.footer-menu{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.f-menu{
    text-align: center;
    font-weight: bold;
}

.footer-menu:hover, .top-menu:hover{
    color: rgb(0, 92, 160);
    text-decoration-line: underline;
    }
    

.inner-menu{
    position: absolute;
    display: none;
}

ul{
    list-style-type: none;
}

li:hover >.inner-menu
  {
    display: block;
    z-index: 1;
}

.inner-menu>a{
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    background-color: #999;
}

.inner-menu>a:hover{
    color: rgb(0, 92, 160);
background-color: rgb(188, 188, 188);
text-decoration-line: underline;
}

#paz-logo{
    position: absolute; 
    top:30px;
    right: 260px;
 } 

 button{
    background-color: #C6CDD0
    }

 header{
    background-image: linear-gradient(to bottom, rgb(144, 144, 144) , rgb(180, 180, 180));
    height: 105px;
    margin-bottom: 30px;
}

footer{
    background-color: #999;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1;
    height: 38px;

}
.footer-menu-red{
    color:red;
    text-decoration: none;
}

/* ---------------------------------------------------------------------------------- */

.flex-container-main-photo{
    display: flex;
    justify-content: space-evenly;

}

.cube{
    position: relative;
    width: 293PX;
    height: 355PX;
}

.content{
    margin-right: 10px;
    background-image: url("images/hp_tab_text_bg.png");
    background-repeat: no-repeat;
        position: absolute;  
    bottom:5px;

}

.content>h5,a{
    margin: 0px;
    color: white;
    font-size: 13px;
}

.content>a{
    float: left;

}
.content>p{
margin: 0px;
    text-align: center;
    max-width: 248px;
    font-size: 13px;
    color: white;
}

.flex-container-main-small-photo{
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0px 60px;
   
}

/* --------------------------------------- */

.content2>a  {
    
color:#72716d;
float: left;
    }

    .cube2{
        position: relative;
        width: 292PX;
        height: 216PX;
        /* border-bottom-right-radius: 25px; */
    }
    
    .content2{
            position: absolute;  
            text-align: center;
margin: 0px;
        bottom:30px; 
    
    }
    #pic{
        position: relative;
        width: 100px;
        text-align: center;
        top:70px;
    }
    #pic>a{
        color:#72716d; 
    }
    #pic>a:hover{
        color: rgb(0, 92, 160);
    }
    #map{
        float: left;
    }
    .content22{
        position: absolute;  
width: 250px;
        bottom:10px; 

    }
    .content22>h5{
        display: block;
        position: relative;  
        margin: 0px 10px;
        top:50px;
    }


  .content2>a:hover{
    color: rgb(0, 92, 160);

  }



