*{box-sizing: border-box}
body{
    margin: 0px;
    direction: rtl;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif
}
.container{
    width: 900px;
    margin: auto;
    margin-top: 20px;
    border: 3px solid purple;
    /* position: relative; */
}


.flex-container-search{
display: flex;
justify-content:flex-end;
}
.flex-container-search>a{
    color: white;
    text-decoration: none;
    padding: 5px;
  
}
.flex-container-search>a:hover{
    color: rgb(0, 92, 160);
    text-decoration-line: underline;
}


.flex-container{
    display: flex;
    justify-content: space-evenly;
    top:10px;
}

.top-menu{
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;

}


.footer-menu{
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.f-menu{
    text-align: center;
}

.footer-menu:hover, .top-menu:hover{
    color: rgb(0, 92, 160);
    text-decoration-line: underline;
    }
    
ul{
    list-style-type: none;
}

.inner-menu{
    position: absolute;
    display: none;
}

li:hover >.inner-menu
  {
    display: block;
}

.inner-menu>a{
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 5px;
    background-color: #999;
}

.inner-menu>a:hover{
    color: rgb(0, 92, 160);
background-color: rgb(188, 188, 188);
text-decoration-line: underline;
}

.paz-logo{
    position: absolute; 
    width: 370px;
    text-align: end;
 }

 button{
     padding: 0px;
 }

.pos{
    position: absolute;
    bottom:0px;
}
.pos2{
    position: absolute;
    bottom:0px;
    left: 330px;
}

.pos3{
    position: absolute;
    bottom:0px;
    left:35px;
}

 .content{
    margin-right: 15px;
    position: relative;
    border: 1px solid;
    width: 250px;
    bottom:0;
}

header{
    padding-top:20px; 
    background-color: rgb(144, 144, 144);
}

footer{
    background-color: #999;
    position: fixed;
    bottom: 0px;
}
.content>a,p{
    font-size: 13px;
    color: white;
    max-width: 230px;
}
.text-on-pic{
    position: absolute;
    top: 0px;
}
span{
    font-size: 14px;
    font-weight: bold;
}
